<template>
  <div class="container">
    <div class="col-12">
      <div class="bs-docs-section">
        <br />
        <br />
        <h4 id="kontakt">Kontaktinformationen</h4>
        <br />
        <address>
          <strong><a target="_blank" href="https://www.fh-muenster.de/eti/personen/professoren/salewski/index.php">Prof. Dr.-Ing. Falk Salewski</a></strong><br />
          Fachbereich Elektrotechnik und Informatik<br />
          Labor für Steuerungstechnik
          <br/><br/>
          <strong>Technische Ansprechpartner</strong><br/>
          <strong><a target="_blank" href="https://www.fh-muenster.de/datenverarbeitungszentrale/">IT-Support Steinfurt</a></strong><br />
          Stegerwaldstraße 39, Raum D 222
          <br />
          <abbr title="Telefonnummer">Tel.</abbr> 025519-62654<br />
          <abbr title="Email-Adresse">Email</abbr>
          <a target="_blank" href="mailto:it-support@fh-muenster.de">
            it-support@fh-muenster.de</a
          ><br />
        </address>
      </div>
      <br />
      <br />
      <br />
      <div class="bs-docs-section">
        <h4 id="disclaimer">Haftungsausschluss (Disclaimer)</h4>
        <p>
          Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
          Inhalte wir keinen Einfluss haben. Deshalb können wir für diese
          fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
          verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
          Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
          Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige
          Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine
          permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
          konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei
          Bekanntwerden von Rechtsverletzungen werden wir derartige Links
          umgehend entfernen.
        </p>
      </div>

      <p class="text-muted">
        Quelle:
        <a target="_blank" href="http://www.e-recht24.de/impressum-generator.html"
          >www.e-recht24.de</a
        >
      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>
